swagger: '2.0'
info:
  description: Yelp API
  version: 1.0.0
  title: Yelp
host: api.yelp.com
basePath: /v3
schemes:
  - https
paths:
  /transactions/{transaction_type}/search:
    get:
      operationId: getTransactions
      summary: Get transactions
      description: Get transactions
      produces:
        - application/json
      parameters:
        - name: transaction_type
          in: path
          type: string
          required: true
        - name: location
          in: query
          type: string
          required: false
          description: "Required when latitude and longitude aren't provided. Address of the location you want to deliver to."
        - name: latitude
          in: query
          type: string
          required: false
          description: "Required when latitude and longitude aren't provided. Address of the location you want to deliver to."
        - name: longitude
          in: query
          type: string
          required: false
          description: "Required when location isn't provided. Longitude of the location you want to deliver to."
      x-dependencies:
        - Or(location, latitude AND longitude);
      responses:
        200:
          description: Returns all businesses
          schema:
            $ref: '#/definitions/BusinessesResult'
        '404':
          description: 404code
          schema:
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                  description:
                    type: string
        '400':
          description: 400code
          schema:
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                  description:
                    type: string
                  field:
                    type: string
                  instance:
                    type: string
definitions:
  BusinessesResult:
    type: object
    properties:
      total:
        type: integer
      region:
        type: object
        properties:
          center:
            type: object
            properties:
              latitude:
                type: number
              longitude:
                type: number
      businesses:
        type: array
        items:
          type: object
          properties:
            categories:
              type: array
              items:
                type: object
                properties:
                  alias:
                    type: string
                  title:
                    type: string
            coordinates:
              type: object
              properties:
                latitude:
                  type: number
                longitude:
                  type: number
            display_phone:
              type: string
            distance:
              type: number
            id:
              type: string
            alias:
              type: string
            image_url:
              type: string
            is_closed:
              type: boolean
            name:
              type: string
            phone:
              type: string
            price:
              type: string
              enum:
                - $
                - $$
                - $$$
                - $$$$
                - £
                - ££
                - £££
                - ££££
                - €
                - €€
                - €€€
                - €€€€
            rating:
              type: number
              minimum: 1
              maximum: 5
            review_count:
              type: integer
            url:
              type: string
            transactions:
              type: array
              items:
                type: string
                enum:
                  - pickup
                  - delivery
                  - restaurant_reservation
            location:
              type: object
              properties:
                address1:
                  type: string
                  x-nullable: true
                address2:
                  type: string
                  x-nullable: true
                address3:
                  type: string
                  x-nullable: true
                city:
                  type: string
                country:
                  type: string
                display_address:
                  type: array
                  items:
                    type: string
                state:
                  type: string
                zip_code:
                  type: string
